body{
    background-image: url(images/pexels-andrei-tanase-1271619.jpg);
    background-size: cover;
}
#navbar li{
display: inline-block;

}
#navbar p{
    margin-right: 100px ;
    
}
#nav-bar{
    margin-left:200px ;
    margin-top: 2px;
}
#main-header{
    display: flex;
    font-size: 20px;
}
#person{
    display: flex;
    margin-left: 30%;
    padding: 20px;
}

#blog{
    justify-content: center;
    text-align: center;
    margin-top: 13%;
    font-size: x-large;

}
.word{
    color: bisque;
}


.container{
    
    width:100% ;
    height: 700%; ;
    display: flex;
    font-size: x-large;
    background-color: skyblue;
    margin-top: 100%;
}
body{
    background-color: skyblue;
}

#container{
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
}

.paragraph{
    display: grid;
    color: white;
    font-size: x-large;
    margin-top: 8%;
    margin-right: 170px;

}
#image{
    padding: 40px;
}


h1{
    color: bisque;
}
h4{
    color: bisque;
}

h1{
    color: bisque;
}
h2{
    
    color: white;
    font-size: 57px;
}
p{
    color: white;
    font-size: 20px;
    

    
}
.text{
    color: bisque;
}

#page{
    display: flex;
    gap: 7%;
    background-color: skyblue;
    
}
#container1{
    margin-left: 8%;
    margin-top: 8%;
}
#container2{
    margin-top: 8%;
    
}

.form{
    display: flex;
    gap: 40px;
    font-size: x-large;
    color: white;
    background-color: skyblue;
}


h3{
    color: bisque;
}
h1{
    color: white;
}
.for{
    margin-left: 10%;
}
.blog{
    margin-left: 30%;
}



